<div class="row">
  <div class="well col-md-10 col-md-offset-1">
    <div class="center category-title-new">
      <% if @category.new_record? %>
      <h1>Create New Category</h1>
      <% else %>
      <h1>Update The Category</h1>
      <% end %>
    </div>
    <%= form_for(@category, :html => {class: "form-horizontal", role: "form", :id => "categories-edit-new"},
                          remote: true) do |f| %>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :category_name %><br>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :category_name, class: "form-control", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
    <div class="col-md-10 center">
      <%= link_to '[ Back to Articles ]', articles_path %>
    </div>
  </div>
</div>